extends _layouts/application

block content
  //#app
    .app-spinner-block
      .app-spinner
  .container
    .content-block
    .content-block
      .row
        .col-sm-4
          a(href="")
            img(src="./images/logo-inf.svg" width="200")

  .inf-banner-container
    .container
      .inf-banner-block
        .inf-banner-content
          .content-block
            h1.inf-banner-title Образование будущего
            h2.inf-banner-subtitle Теперь по всему миру
          a.inf-banner-btn Записаться
        .inf-banner
          include banner.html

