extends _layouts/application

block content
  .container
    .content-block
    .content-block
      .row
        .col-sm-4
          a(href="")
            img(src="./images/logo-inf.svg" width="200")

  .inf-banner-container
    .inf-banner-block
      .inf-banner-content
        .content-block
          h1.inf-banner-title
            | Проверь свои знания &mdash; приходи на экзамен!
        a.inf-banner-btn
          | Очная форма
        a.inf-banner-btn
          | Онлайн
        h2.inf-banner-btn-caption
          | Решать тебе &mdash; где и как учиться!

      .inf-banner
        include banner.html

